body, h1 {
	font-family: 'Armata', sans-serif;
}
#page {
	width: 100%;
}
.konto-link {
	cursor: pointer;
}
.konto-link.active {
	font-weight: bold;
}
.buchung {
	overflow: hidden;
}
.buchung li:first-child {
	padding-top: 5px;
}
input {
	width: 100%;
}
button {
	margin: 3px 0;
}